body {
    background: lightgray !important;
    padding: 3% 2%;
}

.header {
    color: white;
    border: solid black 6px;
     background-color: black;
     text-align: center;
     margin: auto;
 }
 .btn {
     text-transform: uppercase;
 }
         .greyBg {
            border-radius: 5px;
            border: 1px solid lightgrey;
            padding: 10px;
            margin: 4% auto;
         }

 #catalog, #shopping {
     width: 90%;
     margin: 1% auto;
     text-transform: uppercase;
     font-weight: bold;
 }
 p {
     color: white;
 }
 
 .dudes {
     width: 80%;
     height: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20%;
     border: 8px grey solid; 
         }
 
 .buttons1 {
     margin-top: 10%;
         }
.container-fluid {
    max-width: 1200px;

    padding: 2%;
    border: 1px solid #a3a3a3;
    background: white;
    border-radius: 5px;
}